<div class="welcome_page">
    <p class="heading">Welcome to the <br /> <span>Frontend Quiz!!</span></p>

    <p class="desc">
        Welcome to our Frontend Quiz Game! Test your knowledge of HTML, CSS, JavaScript, and Accessibility with our
        interactive quiz built using Angular. Get ready to dive into the world of frontend development and see how much 
        you really know. Let's get started and see if you have what it takes to ace our quiz!
    </p>

    <a routerLink="/quiz" class="btn submit_button">Start Quiz</a>
</div>