.whole_page,
.score {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    background-color: #313E51;
}

.q_tag {
    background-color: #3C4C67;
    color: white;
    padding: 1em;
    border-radius: 10px;
    width: 30%;
    margin-left: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.content {
    margin: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 90%;

    .question {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        width: 80%;
        height: 50%;
        flex-wrap: wrap;

        .q_count {
            color: #626E85;
            font-style: italic;
        }

        .q {
            color: white;
        }
    }

    ul{
        padding: 0;
    }

    .options {
        width: 100%;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        // align-items: end;

        .optionList {
            list-style: none;
            background-color: #3C4C67;
            color: white;
            padding: 1em;
            margin: 0.5em 0;
            border-radius: 10px;
            // width: 500px;
            text-wrap: wrap;
            cursor: pointer;
            transition: 0.2s;
        }

        .optionList:hover{
            background-color: #465672;
        }

        .selected {
            border: 1px solid white;
            // transition: border 0.3s ease;
        }
    }

}

.cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    transition: 0.1s;
    transform: translate(-30%, -30%);
    pointer-events: none;
    mix-blend-mode: difference;
}

.score {
    padding: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .text {
        font-size: 30px;
        text-align: center;
        span {
            font-weight: 300;
        }
    }

    .score_board {
        background-color: #3C4C67;
        padding: 1em;
        border-radius: 10px;
        width: 40%;
        height: 40%;
        font-style: italic;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width : 1000px) {
    .content{
        flex-direction: column;
        width: 100%;

        .options {
            .optionList{
                width: 90%;
                text-wrap: wrap;
            }
            .submit_button{
                width: 90%;
            }
        }
    }

    .score {
        .score_board{
            width: 95%;
        }
    }
}