<div class="whole_page" *ngIf="questionCount < 5">
    <p class="q_tag">{{selectedQuestion.tag}}</p>

    <div class="content">
        <div class="question">
            <div class="q_count">
                Question {{ questionCount }} of 5
            </div>
            <div class="q">
                {{selectedQuestion.question}}
            </div>
        </div>
        <div class="options">
            <ul>
                <li *ngFor="let option of options" class="optionList"
                    [ngClass]="{'selected' : selectedOption === option}" (click)="userAnswer(option)">
                    {{ option }}
                </li>
            </ul>
            <a class="btn submit_button" (click)="getNextQuestion()">
                Submit!
            </a>
        </div>
    </div>
</div>
<div class="score" *ngIf="questionCount >= 5">
    <div class="text">
        Quiz Completed!
        <span>You scored ... </span>
    </div>
    <div class="score_board">
        <p>
            {{ score }} / 5
        </p>
    </div>
    <a class="btn submit_button" routerLink="/">
        Home Page
    </a>
</div>