<div class="whole_page" *ngIf="questionCount < 5">
    <!-- send icon and text here -->
    <!-- <app-header></app-header> -->
    <p>{{selectedQuestion.tag}}</p>

    <div class="content">
        <div class="question">
            {{selectedQuestion.question}}
        </div>
        <div class="options">
            <ul>
                <li *ngFor="let option of options" class="optionList"
                    [ngClass]="{'selected' : selectedOption === option}" (click)="userAnswer(option)">
                    {{ option }}
                </li>
            </ul>
            <a class="btn submit_button" (click)="getNextQuestion()">
                Submit!
            </a>
        </div>
    </div>
</div>
<div class="score" *ngIf="questionCount >= 5">
    Score : {{ score}}
    Play again 
    <a class="btn submit_button" routerLink="/">
        Home Page
    </a>
</div>